.profil-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  width: 100%;
  margin: auto;
  text-align: left;
  gap: 20px;
}

.profil-card {
  width: 100%;
  padding: 25px 20px;
  border-radius: 20px;
  background-color: #ffffff;
  transition: all 0.3s;
}

.avatar-wrapper {
  position: relative;
  width: 150px;
  height: 150px;
  margin: auto;

  .avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 4px solid #2c80fc;
    border-radius: 50%;
  }

  .edit-avatar {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    background: #2c80fc;
    cursor: pointer;

    &:hover {
      background: #3c87f7;
      transform: scale(1.1);
    }
  }
}

.user-name {
  text-align: center;
  margin-top: 10px;
  font-size: 22px;
  font-weight: 600;
}

.user-info-card {
  margin-top: 20px;

  .info-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    font-size: 14px;

    input {
      width: 100%;
      padding: 15px 45px 15px 12px;
      border: 1px solid #cccccc;
      border-radius: 60px;
      font-size: 14px;
    }
  }

  .password-wrapper {
    position: relative;

    .toggle-pass {
      position: absolute;
      top: 30%;
      right: 1px;
      border: none;
      font-size: 18px;
      color: #2c80fc;
      background: none;
      cursor: pointer;
      transform: translateY(-50%);

      &:hover {
        color: #3c87f7;
      }
    }

    input {
      padding-right: 45px;
      margin-bottom: 20px;
    }
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13px 30px;
    margin: 0 auto;
    margin-top: 5px;
    border: none;
    border-radius: 25px;
    color: white;
    background-color: #2c80fc;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      background-color: #3c87f7;
      transform: translateY(-2px);
    }
  }
}
