.square-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 300px;
  height: 100vh;
  padding: 20px 0;

  // border-radius: 30px 0 0 30px;
  background-color: var(--white);
  gap: 20px;
}

.logo-title {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 40px 30px;
}

.logo-title .logo {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.logo-title h2 {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  color: var(--black);
}

.menu-links {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0 20px;
}

.menu-links a {
  display: flex;
  align-items: center;
  padding: 12px 30px;
  border-radius: 10px;
  font-size: 16px;
  color: var(--black);
  text-decoration: none;
  transition: background-color 0.2s ease;
  gap: 12px;

  &:hover {
    background-color: #fbfbfb;
  }
}

.menu-links a.active {
  font-weight: 500;
  background-color: #f1f1f1;
}

.square-menu .log-out {
  display: flex;
  align-items: center;
  padding: 12px 30px;
  margin-top: auto;
  font-size: 16px;
  color: var(--black);
  cursor: pointer;
  gap: 12px;
}

.menu-links a img,
.log-out img {
  width: 20px;
  height: auto;
}

a {
  color: #000000 !important;
}

.faculty-link {
  padding: 2px !important;
  margin-bottom: 0 !important;
  margin-left: 36px;
  font-size: 13px !important;
  text-align: left !important;

  .dot-icon {
    width: 8px !important;
    height: 8px !important;
    margin-right: 6px !important;
  }

  &:hover {
    text-decoration: underline !important;
  }
}
