<div class="square-menu">
  <div class="logo-title">
    <img src="assets/images/logo-academus.png" alt="Logo" class="logo">
     <a [routerLink]="['/home']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
       <h2 class="title-academus">Academus</h2>
    </a>
  </div>

  <div class="menu-links">
    <a [routerLink]="['/home']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <img src="assets/images/faculty-icon.png" alt="Logo" class="icon"> Fakulteti
    </a>

    <a [routerLink]="['/ucenje']" routerLinkActive="active">
      <img src="assets/images/learning-icon.png" alt="Logo" class="icon"> Učenje
    </a>

    <div *ngIf="selectedNames" class="selected-faculty">
      <div *ngFor="let name of selectedNames.split(', ')" class="selected-item">
        <a [routerLink]="['/ucenje']" [queryParams]="{ fakultet: name }" class="faculty-link">
          <img src="assets/images/dot-icon.png" alt="dot" class="dot-icon">
            {{ name }}
        </a>
      </div>
    </div>

    <a [routerLink]="['/pomodoro']" routerLinkActive="active">
      <img src="assets/images/pomodoro.png" alt="Logo" class="icon"> Pomodoro
    </a>

     <a [routerLink]="['/kalendar']" routerLinkActive="active">
      <img src="assets/images/calender.png" alt="Logo" class="icon"> Kalendar
    </a>

    <a [routerLink]="['/profil']" routerLinkActive="active">
      <img src="assets/images/profil-icon.png" alt="Logo" class="icon"> Profil
    </a>
  </div>

  <a (click)="logout()" class="log-out">
    <img src="assets/images/sign-out-icon.png" alt="Logo" class="icon"> Odjavi se
  </a>
</div>
