<la-message></la-message>

<ng-container *ngFor="let group of [
  { title: technicalTitle, faculties: filteredTechnical },
  { title: medicalTitle, faculties: filteredMedical },
  { title: pharmacyTitle, faculties: filteredPharmacy },
  { title: artTitle, faculties: filteredArt },
  { title: socialTitle, faculties: filteredSocial },
  { title: economicTitle, faculties: filteredEconomic },
  { title: sportsTitle, faculties: filteredSports }
]">
  <div class="faculty-container" *ngIf="group.faculties.length > 0">
    <h2 class="faculty-title">{{ group.title }}</h2>
    <ul class="faculty-list">
      <li *ngFor="let faculty of group.faculties" class="faculty-item">
        <img [src]="faculty.image" class="faculty-image">
        <div class="faculty-info">
          <div class="faculty-text">
            <h3 class="faculty-name">{{ faculty.name }}</h3>
            <div class="faculty-location">{{ faculty.location }}</div>
          </div>
          <button
            class="select-btn"
            [class.selected]="isSelected(faculty)"
            (click)="openConfirmation(faculty)">
            {{ isSelected(faculty) ? 'Izabrano' : 'Izaberi' }}
          </button>
        </div>
      </li>
    </ul>
  </div>
</ng-container>

<div class="faculty-confirm-backdrop" *ngIf="showLocalConfirm">
  <div class="faculty-confirm-box">
    <img src="assets/images/info.png" class="info-image" alt="image">
    <p>{{ localConfirmMessage }}</p>
    <div class="modal-actions">
      <button (click)="resolveLocalConfirm(true)">Da</button>
      <button (click)="resolveLocalConfirm(false)">Ne</button>
    </div>
  </div>
</div>
