<la-square>
  <div class="wrapper">
    <div class="exam-header">
      <button type="button" class="back-btn" (click)="goBack()">
        <img src="assets/images/back-arrow.png" alt="Nazad" />
      </button>
      <h2>Prijemni ispit iz {{ subject | titlecase }} {{ year }}</h2>
    </div>

    <div class="timer-section">
      <la-exam-timer (timeUp)="onTimeUp()"></la-exam-timer>
    </div>
  </div>

  <div *ngIf="examData; else noContent" class="wrapper">
    <div class="instructions">
      {{ examData.instructions }}
    </div>
    <div *ngFor="let question of examData.questions; index as i" class="question">
      <p class="question-text">{{ i + 1 }}. {{ question.text }}</p>
      <div class="answers">
        <span
          *ngFor="let answer of question.answers; index as j"
          class="answer"
          [class.correct]="showAnswers[i] && j === question.correctAnswerIndex"
          [class.wrong]="showAnswers[i] && j !== question.correctAnswerIndex">
          {{ getOptionLabel(j) }} {{ answer }}
        </span>
      </div>
      <p class="show-answer-text" (click)="toggleAnswerVisibility(i)">
        {{ showAnswers[i] ? 'Sakrij tačan odgovor' : 'Prikaži tačan odgovor' }}
      </p>
    </div>
  </div>

  <ng-template #noContent>
    <p>Nema dostupnog sadržaja za izabrani rok. </p>
  </ng-template>

</la-square>

<div *ngIf="timeUpOverlay" class="time-up-overlay">
  <div class="popup">
    <img src="assets/images/info.png" alt="">
    <p>Vreme je isteklo!</p>
    <button (click)="timeUpOverlay = false">Zatvori</button>
  </div>
</div>
