<la-square>

  <div *ngIf="selectedFaculties.length > 0">
    <div *ngFor="let faculty of selectedFaculties" class="faculty-section">
      <div class="faculty-banner" [style.background-image]="'url(' + faculty.banner + ')'">
        <div class="faculty-banner-text">
          <h2>{{ faculty.name }}</h2>
          <p class="location-p">{{ faculty.location }}</p>
        </div>
      </div>
      <div *ngFor="let subject of faculty.entranceExamSubjects">
        <la-exam-list [selectedFaculty]="faculty" [subjectName]="subject"></la-exam-list>
      </div>
    </div>
  </div>

  <div *ngIf="selectedFaculties.length === 0">
    <div class="wrapper-no-selected-item">
      <img src="assets/images/no-faculties-images.png" alt="">
      <p>Molimo Vas izaberite Fakultet!</p>
    </div>
  </div>

</la-square>
