<div class="timer-container">
  <div class="timer-wrapper">

    <div class="timer-inner">
      <ng-container *ngIf="!started; else running">
        <input type="number" [(ngModel)]="userMinutes" min="1" placeholder="min" />
        <button (click)="startExam()">Pokreni tajmer</button>
      </ng-container>

      <ng-template #running>
        <div class="display">
          <h2>{{ formattedTime }}</h2>
        </div>
        <div class="controls">
          <button (click)="toggleTimer()">{{ isRunning ? 'Stop' : 'Start' }}</button>
          <button (click)="resetTimer()">Reset</button>
        </div>
      </ng-template>
    </div>
  </div>
</div>
