<la-square [bgColor]="'#212121'">

  <button class="local-back-button" (click)="goBack()">
    <img src="assets/images/back-arrow.png" alt="Nazad" />
  </button>

  <div class="book-content">
    <div *ngFor="let item of items" class="collection-item">
      <div *ngIf="item.isPdf" class="pdf-container">
        <iframe [src]="item.content | safeUrl"></iframe>
      </div>

      <div *ngIf="!item.isPdf" class="text-container">
        <p>{{ item.content }}</p>
      </div>
    </div>
  </div>
</la-square>
