<la-square>

  <la-header [title]="currentSubject" [backRoute]="'/ucenje'"></la-header>

  <div *ngFor="let item of items" class="collection-item">
    <!-- Ako je PDF -->
    <ng-container *ngIf="isPdf(item.content); else textContent">
      <iframe
  [src]="getSafePdfUrl(item.content)"
  width="100%"
  height="600px"
  style="border: none; border-radius: 10px;"
></iframe>
    </ng-container>

    <!-- Ako je tekst -->
    <ng-template #textContent>
      <p>
        <ng-container *ngFor="let part of splitContent(item.content)">
          <span
            [ngClass]="{
              'search-highlight': isMatch(part),
              'active-highlight': isActiveMatch(part)
            }"
          >
            {{ part }}
          </span>
        </ng-container>
      </p>
    </ng-template>
  </div>

  <div class="actions">
    <button (click)="toggleSearch()" title="Search">
      <i class="fa fa-search"></i>
    </button>
    <div *ngIf="searchActive" class="search-wrapper">
      <input
        type="text"
        placeholder="Unesi reč..."
        [(ngModel)]="searchQuery"
        (input)="performSearch()"
      />
      <span class="search-result">
        {{ searchResults.length ? currentSearchIndex + 1 : 0 }} / {{ searchResults.length }}
      </span>
      <button (click)="searchPrev()">&lt;</button>
      <button (click)="searchNext()">&gt;</button>
    </div>
  </div>

</la-square>
