<div class="square">
  <div class="left-side">
    <h2 class="subtitle">Napravi nalog</h2>

    <div class="form">

      <div class="input-container" [class.invalid]="firstNameError">
        <div *ngIf="firstNameError" class="error-box">
          <span>{{ firstNameError }}</span>
        </div>
        <i class="fa fa-user icon"></i>
        <input
          type="text"
          [(ngModel)]="model.firstName"
          placeholder="Unesite Vaše Ime"
          class="input-field" />
      </div>

      <div class="input-container" [class.invalid]="lastNameError">
        <div *ngIf="lastNameError" class="error-box">
          <span>{{ lastNameError }}</span>
        </div>
        <i class="fa fa-user icon"></i>
        <input
          type="text"
          [(ngModel)]="model.lastName"
          placeholder="Unesite Vaše Prezime"
          class="input-field" />
      </div>

      <div class="input-container" [class.invalid]="emailError">
        <div *ngIf="emailError" class="error-box">
          <span>{{ emailError }}</span>
        </div>
        <i class="fa fa-envelope icon"></i>
        <input
          type="email"
          [(ngModel)]="model.email"
          placeholder="Unesite Vaš Email"
          class="input-field" />
      </div>

      <div class="input-container" [class.invalid]="passwordError">
        <div *ngIf="passwordError" class="error-box">
          <span>{{ passwordError }}</span>
        </div>
        <i class="fa fa-lock icon"></i>
        <input
          [type]="showPassword ? 'text' : 'password'"
          [(ngModel)]="model.password"
          placeholder="Unesite Lozinku"
          class="input-field" />
        <i
          class="fa toggle-icon"
          [ngClass]="showPassword ? 'fa-eye' : 'fa-eye-slash'"
          (click)="togglePassword()"
        ></i>
      </div>

      <div class="buttons">
        <button class="primary" (click)="signUp()">Napravi nalog</button>
      </div>

      <p class="signup-text">
        Već imate nalog?
        <span class="signup-link" (click)="goToLogin()">Vrati se na Login</span>
      </p>

      <div *ngIf="generalError" class="error-box">
        <i class="fa fa-exclamation-circle"></i>
        <span>{{ generalError }}</span>
      </div>
    </div>
  </div>

  <div class="right-side">
    <img src="assets/images/login-image.jpg" alt="Slika" class="side-image" />
  </div>
</div>
