<la-square>

  <la-message></la-message>
  <la-header title="Beleške" [backRoute]="'/ucenje'"></la-header>

  <div class="notes-form">
    <input
      type="text"
      placeholder="Naslov beleške"
      [(ngModel)]="newTitle"
    />
    <textarea
      placeholder="Sadržaj beleške"
      [(ngModel)]="newContent"
    ></textarea>

    <div class="note-options">

      <div class="star-color-wrapper">
      <button class="favorite-toggle" (click)="isFavorite = !isFavorite">
        <i class="fa" [ngClass]="isFavorite ? 'fa-star' : 'fa-star-o'"></i>
      </button>

      <div class="color-picker-container">
        <button class="color-button" (click)="toggleColorPicker()">
          <i class="fa fa-paint-brush"></i>
        </button>

        <div class="color-palette" *ngIf="showColors">
          <div
            class="color-circle"
            *ngFor="let color of pastelColors"
            [style.backgroundColor]="color"
            (click)="selectColor(color)"
          ></div>
        </div>
      </div>
      </div>

      <button class="add-btn" (click)="addOrUpdateNote()">
        {{ editingNote ? 'Sačuvaj izmene' : 'Dodaj belešku' }}
      </button>
    </div>
  </div>

  <div class="notes-list" *ngIf="notes.length > 0">
    <div
      class="note-item"
      *ngFor="let note of notes"
      [ngStyle]="{ 'background-color': note.color }"
    >
      <div class="note-header">
        <i
          class="fa"
          [ngClass]="note.favorite ? 'fa-star' : 'fa-star-o'"
          (click)="toggleFavorite(note)"
        ></i>
        <h3>{{ note.title }}</h3>
      </div>

      <p>{{ note.content }}</p>

      <div class="note-footer">
        <small>{{ note.date | date: 'dd.MM.yyyy. HH:mm' }}</small>
        <div class="note-actions">
          <button class="edit-button" (click)="editNote(note)">
            <img src="assets/images/edit-icon.png" alt="Izmeni" />
          </button>
          <button class="delete-button" (click)="deleteNote(note)">
            <img src="assets/images/delete-icon.png" alt="Obriši" />
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="color-overlay" *ngIf="noteToChangeColor">
    <div class="color-palette-popup">
      <div
        class="color-circle"
        *ngFor="let color of pastelColors"
        [style.backgroundColor]="color"
        (click)="applyNoteColor(color)"
      ></div>
    </div>
  </div>

</la-square>
