<div class="wrapper">
  <div class="header">
    <img src="assets/images/people-photo.png" alt="people">
    <p>Korisnika mesečno</p>
  </div>
  <h2>Platforma Academus je tu da ti olakša <br>pripremu za prijemni ispit</h2>
   <button (click)="login()">Prijavi se</button>
   <button (click)="register()">Napravi nalog</button>
  <img
  [src]="isDarkMode ? 'assets/images/welcome-dark.png' : 'assets/images/welcome-ligth.png'"
  class="welcome-photo"
  alt="welcome">
  <h3>Kako funkcionise Academus?</h3>
  <section class="how-it-works">
  <div class="steps">

    <div class="step-card">
      <img src="assets/images/medical1.png" alt="Izaberi fakultet" />
      <div class="step-text">
        <h3><span>1. Izbor fakulteta</span></h3>
        <p>Prvi korak za korisnika je da izabere fakultet koji ga zanima. Nakon toga, platforma prikazuje sve relevantne prijemne ispite tog fakulteta, uključujući zbirke zadataka, stare ispite i predložene materijale za učenje. Na ovaj način korisnik dobija centralizovan pristup svim potrebnim informacijama, bez potrebe da pretražuje različite izvore.</p>
      </div>
    </div>

    <div class="step-card">
      <img src="assets/images/medical2.png" alt="Materijali za ucenje" />
      <div class="step-text">
        <h3><span>2.Organizacija</span></h3>
        <p>Platforma nudi interaktivni kalendar gde korisnik može da unese svoje termine, raspored učenja i važne datume. Korisnik može personalizovati boje i oznake, a takođe ima mogućnost da dodaje, menja ili briše unose. Ovaj segment omogućava da priprema za prijemni bude pregledna i organizovana, prilagođena individualnom tempu učenja.
</p>
      </div>
    </div>

    <div class="step-card">
      <img src="assets/images/medical3.png" alt="Prilagodi sebi" />
      <div class="step-text">
        <h3><span>3.Prilagodi sebi</span></h3>
        <p>Poslednji deo je fokusiran na prilagođavanje samog procesa učenja korisniku. Platforma prati njegov napredak, odrađene zadatke i pregled urađenih materijala, a na osnovu toga nudi preporuke za dalje učenje. Korisnik može da prati svoj napredak vizuelno i interaktivno, čime se povećava motivacija i olakšava postizanje ciljeva.</p>
      </div>
    </div>
  </div>
</section>

<div class="info-section">
  <div class="text">
    <h3>Učenje nikada lakše!</h3>

    <p>Priprema za prijemne ispite više nije naporan i haotičan proces. Na platformi Academus, korisnik ima sve materijale na jednom mestu – zbirke zadataka, stari ispiti, predložene vežbe i interaktivne sadržaje.
Uz jednostavan interfejs i personalizovane preporuke, korisnik može da efikasno planira učenje, prati svoj napredak i fokusira se na oblasti koje zahtevaju dodatnu pažnju.
Sve je dizajnirano tako da spremanje prijemnih ispita bude jednostavno, pregledno i motivišuće, bez gubljenja vremena na traženje informacija.</p>
  <button (click)="login()">Započni</button>
  </div>
  <img src="assets/images/faculty1.png" alt="">
</div>

<section class="testimonials">
  <h2>Šta kažu drugi korisnici?</h2>

  <div class="testimonials-grid">
    <div class="testimonial-card">
      <img src="assets/images/sara.jpg" alt="Nina" />
      <div class="testimonial-content">
        <h3>Sara Gavranovic</h3>
        <div class="stars">★★★★★</div>
        <p>"Academus mi je potpuno promenio način pripreme za prijemni. Svi materijali su na jednom mestu, a pregledni prikazi i vežbe su mi pomogli da brže učim i pratim napredak."</p>
      </div>
    </div>

    <div class="testimonial-card">
       <img src="assets/images/ana.jpg" alt="Nina" />
      <div class="testimonial-content">
        <h3>Ana Vicovac</h3>
        <div class="stars">★★★★★</div>
        <p>„Veoma praktično i jednostavno za korišćenje. Posebno mi se dopada personalizovani kalendar i mogućnost praćenja zadataka – konačno mogu da organizujem pripremu bez stresa.“</p>
      </div>
    </div>

    <div class="testimonial-card">
       <img src="assets/images/petra.jpg" alt="Nina" />
      <div class="testimonial-content">
        <h3>Petra Popovic</h3>
        <div class="stars">★★★★★</div>
         <p>„Academus mi je pomogao da organizujem učenje na potpuno nov način. Svi materijali su pregledni, a interaktivni kalendar mi omogućava da pratim svoj napredak i ostanem motivisana svaki dan.“</p>
  </div>
    </div>

    <div class="testimonial-card">
      <img src="assets/images/sofi.jpg" alt="Nina" />
      <div class="testimonial-content">
        <h3>Sofija Cvetinovic</h3>
        <div class="stars">★★★★★</div>
       <p>„Zahvaljujući Academus-u više ne gubim vreme tražeći materijale. Sve je pregledno, interaktivno i motivišuće. Osećam da sam bolje pripremljen nego ikada ranije.“
</p>
      </div>
    </div>

    <div class="testimonial-card">
       <img src="assets/images/ema.jpg" alt="Nina" />
      <div class="testimonial-content">
        <h3>Emilija Simic</h3>
        <div class="stars">★★★★★</div>
       <p>„Jednostavno i praktično – sve informacije na jednom mestu. Kalendar, planiranje i personalizacija čine pripremu prijemnog mnogo lakšom i organizovanijom.“</p>
      </div>
    </div>
  </div>
</section>
</div>
