.input-container {
  position: relative;
  width: 110%;
  height: 45px;
  padding: 0;
  border-radius: 30px;
  background-color: #f1f1f1;
}

.input-field {
  text-align: left;
  align-items: flex-start;
  height: 100%;
  padding: 0 820px 0 0;
  border: none;
  outline: none;
  font-size: 16px;
  background: transparent;
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 20px;
  display: block;
  width: 18px;
  height: 18px;
  cursor: pointer;
  transform: translateY(-50%);
}

:host-context(body.dark-mode) .input-container {
  background-color: #162239;
}
