<div class="messages-container">
  <div
    class="message"
    *ngFor="let message of messages$ | async"
    [ngClass]="message.type"
    (click)="dismiss(message.id)"
  >
    <span class="icon">{{ getIcon(message.type) }}</span>
    <span class="text">{{ message.message }}</span>
    <span class="close">&times;</span>
  </div>

  <div class="confirm-overlay" *ngIf="confirmData">
    <div class="confirm-box">
         <img src="assets/images/info.png" class="image-info" alt="">
      <p>{{ confirmData.message }}</p>
      <div class="confirm-actions">
        <button (click)="onConfirm()">Da</button>
        <button (click)="onCancel()">Ne</button>
      </div>
    </div>
  </div>
</div>
