:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.square {
  display: flex;
  justify-content: space-between;
  width: 180vh;
  height: 100vh;
  overflow: hidden;

  // border-radius: 30px;

  // box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  background-color: #f7f9fa;
  gap: 10px;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-grow: 1;
  max-height: 100vh;
  box-sizing: border-box;
  overflow-y: auto;
  padding-right: 10px;
  margin-left: 100px;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }
}
