<la-square>
  
  <la-header title="" [backRoute]="'/flashcards-pocetna'"></la-header>

  <div class="title-section">
    <h2>Vežbanje</h2>
    <p>{{ currentIndex }} / {{ flashcards.length }} reči</p>
    <div class="progress">
      <div
        class="bar"
        [style.width.%]="(currentIndex / flashcards.length) * 100"
      ></div>
    </div>
  </div>

  <div class="stats">
    <div class="stat-red">
      <span>Obnovi</span>
      <h3>{{ unknownCount }}</h3>
    </div>
    <div class="stat-green">
      <span>Naučeno</span>
      <h3>{{ knownCount }}</h3>
    </div>
  </div>

  <div class="card-container" (click)="toggleDefinition()">
    <div class="flashcard" [class.flipped]="showDefinition">
      <div class="front">
        {{ currentCard?.term }}
      </div>
      <div class="back">
        {{ currentCard?.definition }}
      </div>
    </div>
  </div>

  <div class="buttons">
    <button class="circle eye" (click)="toggleDefinition()">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
        <path
          d="M572.52 241.4C518.92 135.5 407.8 64 288 64S57.08 135.5 3.48 241.4a48.07 48.07 0 000 29.1C57.08 376.5 168.2 448 288 448s230.9-71.5 284.52-177.4a48.07 48.07 0 000-29.1zM288 400a144 144 0 11144-144 144.16 144.16 0 01-144 144zm0-240a96 96 0 1096 96 96.11 96.11 0 00-96-96z"
        />
      </svg>
    </button>

    <button class="circle check" (click)="markKnown()">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
        <path
          d="M173.9 439.4L7 272.5c-9.4-9.4-9.4-24.6 0-33.9l33.9-33.9c9.4-9.4 24.6-9.4 33.9 0L192 312.7l245.2-245.3c9.4-9.4 24.6-9.4 33.9 0L505 101.3c9.4 9.4 9.4 24.6 0 33.9L226 439.4c-9.4 9.4-24.6 9.4-33.9 0z"
        />
      </svg>
    </button>

    <button class="circle xmark" (click)="markUnknown()">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
        <path
          d="M231 256l107-107c9.4-9.4 9.4-24.6 0-33.9l-22.6-22.6c-9.4-9.4-24.6-9.4-33.9 0L174.5 199.5 67.5 92.5c-9.4-9.4-24.6-9.4-33.9 0L11 115.1c-9.4 9.4-9.4 24.6 0 33.9L118 256 11 363c-9.4 9.4-9.4 24.6 0 33.9l22.6 22.6c9.4 9.4 24.6 9.4 33.9 0l107-107 107 107c9.4 9.4 24.6 9.4 33.9 0l22.6-22.6c9.4-9.4 9.4-24.6 0-33.9L231 256z"
        />
      </svg>
    </button>
  </div>

  <div class="modal-backdrop" *ngIf="showConfirmModal">
    <div class="modal">
      <img src="assets/images/info.png" alt="Informacija" />
      <h3>Vežbanje završeno!</h3>
      <p>
        Naučeno: {{ knownCount }} <br />
        Ponovi: {{ unknownCount }}
      </p>
      <div class="modal-actions">
        <button class="confirm" (click)="restartSession(true)">
          Samo obnovi
        </button>
        <button class="confirm" (click)="restartSession(false)">
          Sve ponovo
        </button>
      </div>
    </div>
  </div>
  
</la-square>
