<la-square >

  <la-header title="Pomodoro" [backRoute]="'/ucenje'"></la-header>

  <div class="pomodoro-card">

    <div class="info-tooltip" (click)="toggleInfo()">?
      <div class="info-content" *ngIf="showInfo">
        <p>
          Pomodoro tehnika je metoda upravljanja vremenom u kojoj radite 25 minuta, a zatim pravite kratku pauzu od 5 minuta.
          Nakon četiri ciklusa, pravite dužu pauzu od 15-30 minuta.
        </p>
      </div>
    </div>

    <div class="mode-selection">
      <div class="mode-card" [class.active]="!onBreak" (click)="selectMode(false)">Rad</div>
      <div class="mode-card" [class.active]="onBreak" (click)="selectMode(true)">Pauza</div>
    </div>

    <div class="timer-section" [class.break]="onBreak" [class.work]="!onBreak">
      <h2>{{ onBreak ? 'Pauza' : 'Rad' }}</h2>
      <div class="progress-circle">
        <svg viewBox="0 0 36 36">
          <path class="circle-bg" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"/>
          <path class="circle" [attr.stroke-dasharray]="progress + ', 100'" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"/>
        </svg>
        <div class="time-display">{{ displayTime }}</div>
      </div>

      <div class="controls">
        <button class="btn"  (click)="startPauseTimer()">{{ timerRunning ? 'Pause' : 'Start' }} </button>
        <button (click)="resetTimer()">Reset</button>
      </div>
    </div>

  </div>

</la-square>
